<component name="libraryTable">
  <library name="springframework.spring.webmvc" type="repository">
    <properties maven-id="org.springframework:spring-webmvc:5.3.29" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-webmvc/5.3.29/spring-webmvc-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.3.29/spring-aop-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.29/spring-beans-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.3.29/spring-context-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.29/spring-core-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.29/spring-jcl-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.29/spring-expression-5.3.29.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-web/5.3.29/spring-web-5.3.29.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>